table {
    width: 100%;
  }
  .headerCss{
    font-weight: bold;
    color: black;
  }
  .tableDivCSS{
    border: 1px solid;padding: 0px 15px 15px 15px;
  }
  .openLeaseCss{
    max-height: 300px; overflow: auto;
  }