<div class="headerDiv" >
    <span style="float: left;color: white;margin-left: 10px;"><i class="fa fa-home fa-2x" aria-hidden="true" style="cursor: pointer;" matTooltip="Home" (click)="homepgae()"></i></span>
<span class = "headerTitle" (click)="homepgae()">MCB Finlease</span>
<span style="float: right;color: white;margin-right: 10px;">
    <span style="margin-right: 10px;" *ngIf = "roleId == '2' "><button  class ="applyLease" matTooltip="Apply" (click) = "applyLease()">Apply Lease</button></span> 
    <span>  
    <i class="fa fa-sign-out fa-2x" style="cursor: pointer;" aria-hidden="true" matTooltip="Logout" (click)="logout()"></i></span>
</span> 
</div>
<router-outlet></router-outlet>